.active {
  /* Styles for the active state (e.g., font weight, background color) */
  /* background: #b9a09b; */
  border-bottom: 5px solid red;
  border-color: #99756e;
}

.userButton:hover {
  background: "#ffffff";
  boxshadow: "none";
}

.content {
  padding-top: 60px; /* Adjust based on your navbar height */
}

/* Media queries for responsive design */
@media (max-width: 575.98px) {
  /* CSS rules for extra small devices */
  .content {
    padding-top: 20px; /* Adjust padding for extra small devices */
  }
}

@media (min-width: 576px) {
  /* CSS rules for small devices */
  .content {
    padding-top: 20px; /* Adjust padding for extra small devices */
  }
}

@media (min-width: 768px) {
  /* CSS rules for medium devices */
  .content {
    padding-top: 20px; /* Adjust padding for extra small devices */
  }
}

@media (min-width: 992px) {
  /* CSS rules for large devices */
  .content {
    padding-top: 30px; /* Adjust padding for extra small devices */
  }
}

@media (min-width: 1200px) {
  /* CSS rules for extra large devices */
  .content {
    padding-top: 30px; /* Adjust padding for extra small devices */
  }
}
