/* .App {
  font-family: sans-serif;
  text-align: center;
  min-height: 700px;
  background-color: paleturquoise;
  margin: 0;
  padding: 20px;
  width: 100%;
} */
/* FONT IMPORTS

@import url(https://fonts.googleapis.com/css?family=Open + Sans:300, 400, 700);
@import url(https://fonts.googleapis.com/icon?family=Material + Icons); */

.icon {
  font-family: "Material Icons", serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/* VARIABLES */
/* 
:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
} */

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  /* color: var(--text-color);
  background: var(--bg-color); */
  position: relative;
}
/* 
header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: 0.25em;
} */

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* border: 1px solid #1a8fff; */
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;

  /* background-color: #1a8fff; */
  border-image: linear-gradient(45deg, #ff1a79 0%, #eb82b3 40%);
}

.col .cell {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  color: #ffffff;
  /* border-color: "#000000"; */
  /* border: 1px solid #1a8fff; */
}

.col .cell:hover {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  color: #ffffff;
  background-color: #ffffff;
  /* border-color: "#000000"; */
  /* border: 1px solid #1a8fff; */
}

.col-start {
  justify-content: flex-start;
  text-align: left;
  /* border: 1px solid #1a8fff; */
  /* color: #1a8fff; */
  margin-left: 30px;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);

  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
  /*transform: scale(1.75);*/
  transition: 0.25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.days {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 130%;
  /* padding: 0.75em 0; */
  /* border-bottom: 1px solid var(--border-color);
  border: 1px solid #898246;
  border-color: #898246; */
  color: #99756e;
}

/* .calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: 0.75em 0;
  border-bottom: 1px solid var(--border-color);

} */

.calendar .body .cell {
  position: relative;
  height: 4em;
  /* border-right: 1px solid var(--border-color); */
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
  font-size: 1.5em;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.col .cell .selecteds {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .selecteds {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
  border-image-slice: 1;
}
.calendar .body .today {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #ff1a79 0%, #eb82b3 40%);
  border-image-slice: 1;
}
.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.dates {
  border-bottom: none;
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.numbers {
  color: #99756e;
  font-weight: 600;
  font-size: 1.3em;
}

.numbers:hover {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.3em;
}

.cell:hover {
  color: #ffffff;
  background-color: #e3aca5;
  font-weight: 600;
  font-size: 1.3em;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg,
.calendar .body .selecteds .bg {
  /* opacity: 0.05; */
  transition: 0.5s ease-in;
}
.calendar .body .cell.today .bg {
  color: #ff1a79;
  opacity: 0.05;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.cell .selecteds {
  text-align: center;
  /* color: #ff1a79; */
  /* Adjust width as needed */
  /* width: 50px;
  border: 1px solid #1a8fff; */

  width: 500px; /* Adjust the size as needed */
  height: 500px; /* Keep the same value as width for a circular shape */
  border-radius: 50%;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 4px solid #898246; /* Adjust the border style, width, and color */
  text-align: center;
  line-height: 50px;
}

.circle-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #e66253; /* Adjust the border style, width, and color */
  text-align: center;
  line-height: 50px; /* Adjust for vertical centering */
}

.circle-container span {
  display: block; /* Ensure the number is centered within the circle */
}

.today {
  text-align: center;
  color: #e66253;
  text-decoration: underline;
  /* Adjust width as needed */
  width: 50px; /* Example */
  height: 50px;
  /* border: 1px solid #1a8fff; */
}

.cell.today {
  text-align: center;
  color: #1a8fff;
  /* Adjust width as needed */
  width: 50px; /* Example */
  height: 50px;
  /* border: 1px solid #1a8fff; */
}

.spinner {
  /* ... your existing spinner styles */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
